p {
  font-family: 'News Cycle', sans-serif;
}

.brewery {
  width: auto;
  height: auto;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  background: rgba(255,203,119, .8);
}

.brewery:hover {
  background: rgba(255,174, 44, .6);
  transform: scale(1.05)
}

.name {
  font-size: 20px;
}

a {
  width: 30vw;
  height: 150px;
}
