.breweries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  /* background-color: #FFCB77; */
  background-image: url("./assets/pattern.jpeg");
  background-size: contain;
  padding: 20px;
}
