.brewery-details {
  background-color: #FFCB77;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.details-card {
  /* border: solid 1px black; */
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
}

.contact-info {
  width: 30%;
  height: inherit;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
}
