.brewery-details {
  background-color: #FFCB77;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-card {
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 60px;
}

.contact-info {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  font-size: 20px;
  margin: 5px;
  text-align: right;
}

.user-name, 
.review-message {
  text-align: left;
}


h2 {
  font-size: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
}
