p {
  font-family: 'News Cycle', sans-serif;
}

.brewery {
  border: 2px solid black;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 10px;
}


.name {
  font-size: 20px;
}


a {
  width: 30vw;
  height: 150px;
}
