.nav-bar {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.brew-types {
  background-color: white;
  color: black;
  padding: 0.8rem;
  font-size: 1.6rem;
  border: none;
}

.search-container,
.title-container,
.home-btn-container {
  width: 30%;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  border-radius: 30px;
  padding: 10px 50px;
  text-align: center;
}
