.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.review-container {
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.name-input,
.review-contents {
  border-radius: 20px;
  padding: 10px 40px;
  width: 40vw;
  margin-top: 10px;
}

.submit-review-btn {
  margin-top: 10px;
}

.reviews {
  overflow-y: scroll;
}

.reviews::-webkit-scrollbar {
  display: none;
}
